body {
  background: #eceef1;
  line-height: 1;
  font-size: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #212121;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
}

.cursiva {
  font-style: italic;
}

.nav-container {
  height: 50px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
}

.nav-column {
  height: 40px;
  width: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
}

.nav-column-right {
  align-items: flex-end;
}

.text-nav-account a {
  color: #0077c5;
}

.h5 a {
  color: #0077c5;
}

.text-nav-account {
  color: #505050;
  font-size: 12px;
}

.sign-in-btn {
  padding: 8px 22px;
  color: #fff;
  background: #0077c5;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
}

.create-account-btn {
  font-size: 16px;
  text-align: center;
  margin: 30px 0;
  width: 100%;
  color: #fff;
  background: #0077c5;
  border: none;
  border-radius: 4px;
  padding: 12px;
}

.header-logo-container {
  height: 50px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 118px;
  height: 35px;
  background-image: url(../img/logo.png);
}

.header-sponsored {
  height: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.header-icons-container {
  height: 50px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.header-sponsor {
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-sponsor-mint {
  background: url(../img/mint-text-icon.svg);
  width: 37px;
  height: 14px;
}

.header-sponsor-quickbooks {
  background: url(../img/quickbooks-text-icon.svg);
  width: 98px;
  height: 22px;
}

.header-sponsor-turbotax {
  background: url(../img/tax-text-icon.svg);
  width: 74px;
  height: 16px;
}

.header-sponsor-icon {
  height: 23px;
  width: 23px;
  padding-right: 5px;
}

.header-sponsor-icon-mint {
  background: url(../img/mint-icon.svg);
  background-repeat: no-repeat;
}

.header-sponsor-icon-quickbooks {
  background: url(../img/quickbooks-icon.svg);
  background-repeat: no-repeat;
}

.header-sponsor-icon-turbotax {
  background: url(../img/tax-icon.svg);
  background-repeat: no-repeat;
}

section {
  height: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

section p {
  width: 320px;
  text-align: center;
}

.form-container {
  height: auto;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-bottom: none;
  margin: auto;
  padding: 30px;
  width: 320px;
  font-size: 14px;
}

.form-container h1 {
  text-align: center;
  padding-bottom: 30px;
  color: #4c4c4c;
  line-height: 1.1;
  font-size: 24px;
  display: block;
}

.form-container h3 {
  text-align: center;
  padding-bottom: 30px;
  color: #4c4c4c;
  line-height: 1.1;
  font-size: 14px;
  display: block;  
}

.form-container h5 {
  text-align: center;
  padding-bottom: 30px;
  color: #4c4c4c;
  line-height: 1.1;
  font-size: 14px;
  display: block;
}

.input-container {
  padding: 10px 0;
}

.input-label {
  color: #404040;
  padding: 0 0 10px 0;
}

.form-control {
  width: 100%;
  border: #c1c5c8 solid 1px;
  border-radius: 3px;
  height: 32px;
}

.terms-privacy-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0 15px 0;
}

.privacy-text {
  color: #757575;
  font-size: 13px;
  line-height: 1.6em;
}

.reCAPTCHA-container {
  background-color: #eceef1;
  width: 100%;
  width: 320px;
  padding: 22px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #c7c7c7;
  border-top: none;
}

.recaptcha-text {
  font-size: 10px;
  color: grey;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  font-family: Arial sans-serif;
  height: auto;
  padding: 30px 10px;
  width: 90%;
  
}

footer p {
  text-align: center;
  line-height: 1.5;
}

.legal {
  padding-bottom: 6px;
}

.legal a {
  padding: 0 6px;
  color: #505050;
  text-decoration-line: none;
}

.privacy-settings {
  color: white;
  background-color: #6b6c72;
  position: fixed;
  bottom: 0;
  right: 5%;
  padding: 16px 10px;
  font-size: 14px;
  border-radius: 2px;
}

@media all and (max-width: 768px) {
  nav {
    display: none;
  }
}

/* end of css style */
